*{
    font-family: 'Courier New', Courier;
    background-color: skyblue;
}

#pollo{
    color: green;
}

#ternera{
    color: red;
}

h1, h2{
    text-align:center;
}

ul{
    font-weight: bold;
}

ol, ul, li{
    background-color: pink;
}